<!DOCTYPE html>
<html>
<head>
  <title>Grid Game</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  
</head>
<body ng-app="mz.grid.app">
  <div class="app-wrapper" ng-controller="GridController as vm">
    <div class="grid-container">
      <ul class="cell-list" ng-repeat="row in vm.game.rows"> 
        <li class= "cell-item" ng-repeat="col in vm.game.columns" ng-attr-id="{{ 'c-' + $parent.$index + $index}}"></li>
       </ul>
    </div>
  </div>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="components/grid/grid.service.js"></script>
  <script type="text/javascript" src="components/grid/grid.controller.js"></script>
  <script type="text/javascript" src="components/grid/grid.module.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>